@media screen and  (max-width: 1200px){
    /* ESTILO HEADER */
    header {
        width: 65vh;
    }
    
    header ul li a {
        font-size: 14px;
    }


    .nav-bar {
        padding: 1.5rem 4rem; 
       }
    
       .nav-item {
        display: none;
       }
    
       .mobile-menu-icon {
        display: block;
       }
    
       .mobile-menu-icon button{
         background-color: transparent;
         border: none;
         cursor: pointer;
       }
    
       .mobile-menu ul{
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-bottom: 1rem;
       }
    
       .mobile-menu .nav-item {
        display: block;
        padding-top: 1.2rem;
       }


    /* ORDEM DE EXIBICAO */

    .tabela-classificacao {
        order: 1; /* A tabela será mostrada primeiro */
     }

    .materias {
        order: 3; /* As matérias serão mostradas depois da tabela */
    }

    .rodadas {
        order: 2; /* As rodadas serão mostradas por último */
    }
    
    /* ESTILO TABELA DE CLASSIFICACAO */

    .tabela-classificacao {
        margin-bottom: 20px;
    }

    .tabela-classificacao td, tr, span {
        font-size: 8px;
        padding: 5px;
    }

    .tabela-classificacao > table  img {
        width: 20px;
    }

    .team {
        display: flex;
        align-items: center;
    }

    /* ESTILO TABELA DAS RODADAS */

    .rodadas table img {
        width: 25px;
        padding: 10px;
    }

    .rodadas {
        display: flex;
        justify-content: end;
        align-items: center;
        flex-direction: column;
        width: 400px;
        height: 420px;
        margin-bottom: 60px;
 
    }

    .rodadas table th {
        font-size: 12spx;
    }

    .teamOne {
        display: flex;
        align-items: center;
        justify-content: center; 
    } 

    .alinhamento {
        display: flex;
        justify-content: start;
        align-items: center; 
        gap: 10px; 
    } 


    .rodadas input[type="number"]  {
    
        margin: 0px;
        padding: 8px;
        width: 5px;
        height: 5px;
        font-size: 12px;  
    }



}


