@media screen and (max-width:1200px){
    header {
        width: 100%;
        box-sizing: border-box;
    }

    .logo {
        position: absolute;
        top: 5px;
        left: 180px;
    }

    .logo img {
       width: 100px;
    }
    
    main {
        max-width: 1200px;
    } 

    nav{
        display: none;
    }

    .tabela-classificacao table {
      width: 140px;
      transform: translate(108%, -0%);
    }

    .interface > article {
        transform: translate(-2%, 4%);
    }

    .rodadas {
    
        transform: translate(2%, 10%);
        width: 280px;
        
    }
}
